<div class="alert alert-danger">
    <p>{{ 'huh.tinymce.error.maxChars'|trans({'{maxChars}': maxChars})|raw }}</p>
    <button type="button" class="tinymce-limitChars">{{ 'huh.tinymce.button.maxChars.label'|trans }}</button>
</div>